<!doctype html>
<html lang="en">
  <head>
    <!--  meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/cloud.css">
    <title>Clicker Creator: Make your own clicker game!</title>
  </head>
  <body>
    <form class="container-fluid" method="post" id="gameForm">
      <div class="row" id="clouds">
        <div class="col-12">
          <div class="cloud x1"></div>
          <!-- Time for multiple clouds to dance around -->
          <div class="cloud x2"></div>
          <div class="cloud x3"></div>
          <div class="cloud x4"></div>
          <div class="cloud x5"></div>
        </div>
      </div>
      <!-- Header -->
      <div class="row" id="header">
        <div class="col">
          <input name="game[gameTitle]" class="game-title" type="text" value="Cookie Clicker"/><br/>
        </div>
      </div>
      <!-- Main Content -->
      <div class="row">
        <!-- Achievements / Progress -->
        <div id="achievements" class="col-lg-4 col-md-6 col-12">
          <input name="game[achievementsTitle]" class="title" type="text" value="Achievements"/>
          <div id="achievementList">
            <!-- an individual achievement -->
            <fieldset class="achievement" id="achievement">
              <div class="row no-gutters" >
                <div class="col-12 col-lg-3">
                  <label class="fileContainer" >
                  <img src="guinea.png" />
                  <input name="achievementimage" type="file" value="" onchange="showimg(this)" >
                  </label>
                </div>
                <div class="col-12 col-lg-9" >
                  <div class=" item-box">
                    <input name="achievementimageURL" style="display:none;" type="text" value="" value="Achievement Image URL">
                    <input class="item-title" name="name" type="text" value="Achievement Name" >
                    <textarea onchange="$(this).next().attr('value',this.value);" class="item-descrption">Description goes Here!</textarea>
                    <input class="item-descrption" hidden="hidden" name="message" type="text" value="Unlock Message" >
                    <input name="clicksToUnlock" type="number" value="10" > Clicks to Unlock<br/>
                    <div class="advanced">
                      <input name="changesBigImage" value="0" type="checkbox" > Changes Click Image?<br/>
                      <label class="fileContainer" >
                      <img src="defaultclick.png" />
                      <input name="newBigImage" type="file" value="" onchange="showimg(this)" >
                      </label>
                      <input name="newBigImageURL" type="text" value="" value="Click Image URL" >
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!-- Click Station -->
        <div class="col-lg-4 col-md-6 col-12">
          <div id="big-clicker-container">
            <div class="row no-gutters" >
              <div class="col-12 col-lg-6 right">
                <span class="fancy-font" id="num-clicks">0</span>
              </div>
              <div class="col-12 col-lg-6 left" >
                <input id="clicks" class="fancy-font" id="" name="game[clickName]" type="text" value="clicks"/>
              </div>
            </div>
            <img src="defaultclick.png" id="big-image" class="pointer">
          </div>
          <input name="game[defaultImageURL]" type="text" placeholder="Default Image URL" value="" /> <br/>
          <input name="game[defaultImage]" id="defaultImage"   type="file" value="" /> <br/>
          <input name="game[clickOverride]" type="checkbox" value="1"/>Override default click icon?<br/>
          <input name="game[overrideIcon]" type="file" value=""/><br/>
          <input name="game[overrideIconURL]" type="text" value="override Icon URL" value="" /> <br/>
          <input name="game[clickSFX]" type="file" value=""/><br/>
          <!-- <img class="pointer" id="main-click-img" src="defaultclick.png" alt="Default Click Image"/> -->
        </div>
        <!-- Store -->
        <div class="col-lg-4 col-12">
          <input name="game[storeName]" class="title" type="text" value="Store Name"/><br/>
          <!-- a single item in a store -->
          <div id="store">
            <fieldset class="store-item" id="base-store-item">
              <div class="row no-gutters" >
                <div class="col-12 col-lg-3">
                  <label class="fileContainer" >
                    <img src="yarn.png" />
                    <input name="storeimage" type="file" value="" onchange="showimg(this)" >
                  </label>
                </div>
                <div class="col-12 col-lg-9" >
                  <div class=" item-box">
                    <input name="storeimageURL" style="display: none;" type="text" value="Store Image URL" value="">
                    <input class="item-title" name="title" type="text" value="Item Name">
                    <textarea onchange="$(this).next().attr('value',this.value);" class="item-descrption">Description goes Here!</textarea>
                    <input class="item-descrption" hidden="hidden" name="description" type="text" value="Item Description" >
                    <input class="item-cost" name="cost" type="number" value="10" >Cost (in clicks)

                    <button class="buyItem">Buy</button>
                    <input class="itemQuantity" disabled type="number" value="0" >

                    <div class="advanced">
                     
                      Auto Clicks
                       <input name="passiveClicks" class="passiveClicks" type="number" value="10" > times <br/>every <input name="passiveSecs" class="passiveSecs" type="number" value="5"> Mouse Clicks worth<br/> <input name="manualClickMultiplier" class="manualClickMultiplier" type="number" value="1.5">x times more 
                    </div>
                  </div>
                </div>
              </div>
          </fieldset> 
        </div>
        <input type="button" value="Add New Store Item" onclick="cloneElement('base-store-item','store');">
      </div>
      <input type="button" value="Add New Store Item" onclick="cloneElement('base-store-item','store');">
    </div>
    <input type="submit" value="Submit" id="playButton">
  </div>
</form>

<form class="container-fluid" method="post" id="loadGameForm">
  <input type="text" name="inputID" placeholder="Game ID" id="inputID">
   <input type="submit" value="Load Game" id="loadGame">
</form>

<!-- <button id="testButton">
    Test that local storage is working
</button> -->

    <script src="index.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    function showimg(caller){

        for (var i = 0; i < caller.files.length; i++) {  
          var file = caller.files[i];
          var img = document.createElement("img");
          var reader = new FileReader();
          reader.onloadend = function() {
               img.src = reader.result;
               $(caller).prev("img").attr("src",img.src);
          }
          reader.readAsDataURL(file);
        }
      }




  // appends a clone of element to the end of appendTo
      function cloneElement(element, appendTo){
        $('#' + element).clone(true, true).appendTo('#' + appendTo);
      }
    </script>
  </body>
</html>