<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Clicker Creator: Make your own clicker game!</title>
    <style>
      div { 
        border: 1px solid black; 
      }

      fieldset . {

      }

      input.title { 
        font-size: 1.5em; 
      }

      .pointer {
        cursor: pointer;
      }

      #main-click-img {
        width: 100%;
      }
    </style>
  </head>
  <body>

<form class="container-fluid" method="post" id="gameForm">

  <!-- Header -->
  <div class="row" id="header">
    <div class="col">
      <h1>Cookie Clicker Creator</h1>
    </div>
  </div>

  <!-- Main Content -->
  <div class="row">
  	<!-- Click Station -->
    <div class="col-lg-4 col-md-6 col-12">
      <input name="game[gameTitle]" class="title" type="text" value="Cookie Clicker"/><br/>
      <input name="game[defaultImage]" value="a" />
      <span class="game[num-clicks]">#</span> 
      <input name="game[clickName]" type="text" value="b"/><br/>
      <input name="game[clickOverride]" type="checkbox" value="1"/><br/>
      <input name="game[overrideIcon]" type="checkbox" value="1"/><br/>
      <input name="game[clickSFX]" type="text" value="c"/><br/>
      <!-- <img class="pointer" id="main-click-img" src="defaultclick.png" alt="Default Click Image"/> -->
    </div>

    <!-- Achievements / Progress -->
    <div id="achievementList" class="col-lg-4 col-md-6 col-12">
        <input name="game[achievementsTitle]" type="text" value="d"/><br/>


      <!-- an individual achievement -->
      <fieldset id="achievement">
        <input name="achievementimage" type="file"><br/>
        <input name="name" type="text" placeholder="Achievement Name"><br/>
        <input name="message" type="text" placeholder="Unlock Message"><br/>
        <input name="clicksToUnlock" type="number" placeholder="10"> Clicks to Unlock<br/>
        <input name="changesBigImage" type="checkbox"> Changes Click Image?<br/>
        <input name="newBigImage" type="file"><br/>
      </fieldset> 
      <input type="button" value="Add New Achievement" onclick="cloneElement('achievement', 'achievementList');">
    </div>


    <!-- Store -->
    <div class="col-lg-4 col-12">
        <input name="game[storeName]" type="text" value="e"/><br/>
      <!-- a single item in a store -->
      <div id="store">
      <fieldset class="store-item" id="base-store-item">
        <input name="storeimage" type="file"><br/>
        <input name="title" type="text" placeholder="Item Name"><br/>
        <input name="description" type="text" placeholder=Item Description"><br/>
        <input name="cost" type="text" placeholder="10">Cost (in clicks)<br/>
        <input name="autoClick" type="checkbox"> Auto Click
        <input name="passiveSecs" type="number" value="10"> times every <input name="passiveSecs" type="text" value="5"> seconds <br/> 
        <input name="manualClick" type="checkbox"> Each Manual (Mouse) Click Worth <input name="manualClickMultiplier" type="text" value="1.5"> times more <br/>

      </fieldset> 
      </div>
      <input type="button" value="Add New Store Item" onclick="cloneElement('base-store-item','store');">
    </div>
    <input type="submit" value="Submit" id="playButton">
  </div>
</form>

    <script src="index.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

      // appends a clone of element to the end of appendTo
      function cloneElement(element, appendTo){
        var elmnt = document.getElementById(element);
        var cln = elmnt.cloneNode(true);
        document.getElementById(appendTo).appendChild(cln);
      }
    </script>
  </body>
</html>