@import url('https://fonts.googleapis.com/css?family=Patrick Hand|Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {

  background: url("../bg.png");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;

}


.upper-gradient {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
  opacity: .5;
}
.lower-gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 100%, rgba(0,0,0,0.65) 0%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 100%, rgba(0,0,0,0.65) 0%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:0;
  opacity: .5;
}

.fancy-font {
  font-family: 'Patrick Hand', cursive;
  color: white;  
  font-size: 1.5em;
  background: transparent;
  text-shadow: 2px 2px 5px rgba(0,0,0,.6);
}

h1, h2, h3, 
input[type="text"].title, 
input[type="text"].game-title {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  padding: 5px 0px;
  color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,.5)
}

input, textarea, .editable {
  border: 1px dashed transparent;
  max-width: 100%;
}

input:hover, textarea:hover, .editable:hover{
  border: 1px dashed gray;
}

input[type=text]#clicks{
  position: absolute;
  padding: 5px 0px;
  color:white;
}


input[type=text].title {
  font-size: 1.6em;
    padding-left: 20px;
    text-align: left;
  background: url("../wood.png") rgba(0,0,0,.1);
  box-shadow: 1px 1px 10px rgba(0,0,0,.6);
  background-size: 80px;
  border-radius: 10px;
  line-height: .95em;
  color: rgba(255,255,255,.9);
  margin-bottom: 5px;
  width: 100%;

}

.item-box input{
  max-width: 800%;
}

.item-box input[type=button] {
    top: 55px;
    color: white;
    text-align: left;
    padding: 3px 10px;
    left: -7px;
    margin-bottom: 10px;
    background: url('../wood.png') white;
    background-size: 100px;
}

.game .hidegame {
  display: none;
}



input[type=button], button {
  background: url("../white.png") rgba(180,180,180,.8);
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0,0,0,.4);
  text-transform: uppercase;
  font-family: 'Patrick Hand',cursive;
  padding: 5px 10px;
  cursor: pointer;

}

input[type=submit], button {
  background: url("../white.png") rgba(0,0,0,.4);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Patrick Hand',cursive;
  padding: 5px 10px;
  cursor: pointer;

}

input[type=text].game-title {
  font-size: 2.2em;
  text-align: center;
  background: transparent;
  background-size: auto 100%;
  border-radius: 10px;
  margin-bottom: 0px;
  color: white;
  font-family: 'Patrick Hand',cursive;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
  width: 100%;
  }

.pointer {
   cursor: pointer;
}

img {
  max-width: 100%;
}

#big-clicker-container {
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 1.7em;
}

#big-image {
  padding: 0px 30px 30px 30px;
  transform-origin: center;
  width: 100%;
  transition: .115s all linear;
  transform: scale(1);
}

.two {
  text-align: left;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#num-clicks {
  display: inline-block;
  padding: 0px 10px;
  font-size:30px;
}

#big-image.transform-active {
  transform: scale(.9);

}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { -webkit-transform: scale(1.075); opacity: .95; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.075); opacity: .95; }
    100% { transform: scale(1); opacity: 1; }
}

.fileContainer {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.fileContainer img {
  min-height:100%;
  min-width:100%;
  padding: 0px 7px 0px 0px;
  cursor: pointer;
  border: 1px dashed transparent;

}
.fileContainer img:hover{
  border: 1px dashed gray;

}

.toggleMode {
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 100;
}

.fileContainer input[type=file] {
    display: block;
    filter: alpha(opacity=0) ;
    opacity: 0;
    text-align: right;
    width: auto;
    display: none !important;
    cursor: pointer;
}


#achievementList, #store {

  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
  padding-right: 10px;
  margin-bottom: 10px;
}


.scroll {
  padding-top: 5px;
  padding-bottom: 10px;
}

.scroll::-webkit-scrollbar {;
  width: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background: url("../wood.png") rgba(0,0,0,.1);
  border-radius: 3px;
  background-size: 100px;

}


.add {
  height: 80px;
  width: 80px;
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
}


.advanced {
  display: inline-block;
}

.game .advanced {
  display: none;
}



/* Store */

input[type="number"], input[type="text"] {
  font-family: 'Patrick Hand', cursive;
  color: rgba(0,0,0,.8);
  background: none;
  padding:0px;
}

textarea {
  background: transparent;
}

.item-box {
  background: url("../white.png") rgba(255,255,255,.8);
  padding: 3px 15px 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
  resize: both;
}

.item-box textarea {
}

#store .item-box {
}

.game .item-cost {
  display: none;
}

.item-box input[type=number].itemQuantity {
  position: absolute;
  font-size: 4em;
  color: rgba(0,0,0,.5);
  font-family: "Patrick Hand", cursive;
  text-align: right;
  cursor: default;
  width: 80px;
  right: -4px;
  top: 0;
}

.item-box input[type=number].itemQuantity:hover {
  border: 1px solid transparent ;
}
.item-box .item-title {
  font-size: 1.3em;
  line-height: .9em;
}

.game .advanced {
  display: none;
}


.item-box .item-description {
  width: 100%;
  font-family: 'Open Sans', cursive;
  font-size: .85em;
  line-height: .97;
  height: 2.3em;
  min-height: 1px;
  resize: vertical;
  overflow: hidden;
  padding: 0px;
}

.editable {
  display: inline-block;
  padding: 0px 5px;
}

#store .item-box .item-description {
  max-width: 70%;
}

.item-box input[type=number] {
  width:100%;
  display: inline-block;
  text-align: left;
  font-size: 1.2em;
}

textarea:active {
  -webkit-appearance:none;
  border: 1px solid transparent;
}

