@import url('https://fonts.googleapis.com/css?family=Gorditas');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}

body {
  background: url("../bg.png");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.fancy-font {
  font-family: 'Gorditas', cursive;
  color: white;  
  font-size: 1.5em;
  background: transparent;
  text-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

h1, h2, h3, 
input[type="text"].title, 
input[type="text"].game-title {
  font-family: 'Gorditas', cursive;
  text-align: center;
  padding: 5px 0px;
  color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,.2)
}

input, textarea {
  border: 1px dashed transparent;
  max-width: 100%;
}

input:hover, textarea:hover {
  border: 1px dashed gray;
}

input[type=text]#clicks{
  position: absolute;
  padding: 5px 0px;
  color:white;
}


input[type=text].title {
  font-size: 1.75em;
  text-align: center;
  background-color: rgba(0,0,0,.2);
  background-size: auto 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}


input[type=text].game-title {
  font-size: 2.2em;
  text-align: center;
  background: transparent;
  background-size: auto 100%;
  border-radius: 10px;
  margin-bottom: 0px;
  color: white;
  width: 100%;
}

.pointer {
   cursor: pointer;
}

img {
  max-width: 100%;
}

#big-clicker-container {
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 1.7em;
}

#big-image {
  padding: 0px 50px 50px 50px;
  transform-origin: center;
  width: 100%;
  transition: .115s all linear;
  transform: scale(1);
}

.two {
  text-align: left;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#num-clicks {
  display: inline-block;
  padding: 0px 10px;
  font-size:30px;
}

#big-image.transform-active {
  transform: scale(.9);
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { -webkit-transform: scale(1.075); opacity: .95; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.075); opacity: .95; }
    100% { transform: scale(1); opacity: 1; }
}

.fileContainer {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  min-height:100%;
  min-width:100%;
}

.fileContainer img {
  min-height:100%;
  min-width:100%;
  cursor: pointer;
  border: 1px dashed transparent;

}
.fileContainer img:hover{
  border: 1px dashed gray;

}

.fileContainer input[type=file] {
    display: block;
    filter: alpha(opacity=0) ;
    opacity: 0;
    text-align: right;
    width: auto;
    display: none !important;
    cursor: pointer;
}

#achievementsList, #storeList {
  flex-direction: row;
  display: flex;
}

#achievementList .advanced {
  display: inline-block;
  flex-wrap: wrap;

}


input[type=button] {
  cursor: pointer;
}

.add {
  height: 80px;
  width: 80px;
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
}


.advanced {
  display: inline-block;
}

#game .adcvanced {
  display: none;
}



/* Store */

input[type="number"], input[type="text"], textarea {
  font-family: 'Gorditas', cursive;
  color: rgba(0,0,0,.8);
  background: none;
  padding:0px;
}

.item-box {
  background: rgba(255,255,255,.6);
  padding: 10px 20px;
  border-radius: 10px;
}

.item-box .item-title {
  font-size: 1.2em;
}


.item-box .item-descrption {
  width: 100%;
  font-family: 'Open Sans', cursive;
  font-size: .85em;
  height: 2.2em;
  line-height: .975;
  resize: none;
}

.item-box input[type=number] {
  width:150px;
  display: inline;
  text-align: center;
}

textarea:active {
  -webkit-appearance:none;
  border: 1px solid transparent;
}

